* {
    font-family: 'Poppins', sans-serif;
    padding: 7px 2px;
    text-decoration: none;
    color: black;
    /* font-size: 11px; */
}

body {
    background-color: burlywood;
    width: 350px;
    margin: auto;
}


.id-hero {
    background-color: white;
    border-radius: 20px;
    width: 350px;
}

.med-visi {
    background-color: white;
    border-radius: 20px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.p1 {
    font-size: 27px;
    font-weight: bold;
}

p {
    font-weight: bold;
    font-size: 20px;
}

.btn {
    font-size: 15px;
    width: 90px;
    height: auto;
    border-radius: 10px;
}

.nav-extra .btn-b {
    font-size: 15px;
    width: 80px;
    height: 38px;
    border-radius: 10px;
}


.nav-extra .btn-p {
    font-size: 15px;
    width: 120px;
    margin-left: 5px;
    height: 38px;
    border-radius: 10px;
}

.nav-extra .btn-v {
    font-size: 15px;
    width: 65px;
    height: 38px;
    margin: 0 5px;
    border-radius: 10px;
}

.nav-extra .btn-hs {
    font-size: 15px;
    width: 100px;
    height: 38px;
    margin-left: 7px;
    margin-top: 5px;
    border-radius: 10px;
}